@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bacasime+Antique&family=Forum&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap");
/*Reset Basico*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gentium Book Plus", serif;
}
/*Configurações Gerais*/

body {
  font-size: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4eae6;
  overflow-x: hidden;
}
.banner {
  width: 100%;
  height: auto;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .banner img {
    height: 200px;
  }
  .navbar a {
    padding: 10px;
  }
  footer {
    padding: 10px;
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  padding: 10px 20px;
  background-color: #6b4226;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.navbar img {
  height: 40px;
  margin-right: 20px;
  padding-left: 10px;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 14px 20px;
}

.navbar a::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%; /* Começa no centro */
  bottom: 0;
  width: 0; /* Começa com largura 0 */
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Transição aqui */
}

.navbar a:hover::after {
  width: 100%; /* Expande a largura para 100% */
  left: 0; /* Alinha o traço à esquerda */
  opacity: 1;
}

.hide-after::after {
  display: none !important;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
}

.menu-content {
  position: fixed;
  top: 0;
  left: -250px; /* Esconde o menu fora da tela inicialmente */
  width: 250px;
  height: 100%;
  background-color: #6b4226;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: left 0.3s ease-in-out;
  /* display: none; */
  display: flex;
  z-index: 1001; /* Colocar o menu por cima da barra de navegação */
}

.menu-content a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.menu-content a:hover {
  background-color: #6b4226;
}

/* Classe para ativar o menu */
.navbar.menu-active .menu-content {
  left: 0; /* Faz o menu deslizar para dentro da tela */
  display: flex;
}
@media screen and (max-width: 768px) {
  .navbar a {
    display: none; /*Esconde os links */
  }
  .navbar img {
    margin-right: auto; /*Centraliza o logo */
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 10px;
  }
  .navbar-links {
    display: none;
  }
  .navbar.menu-active .menu-content a {
    display: block; /* Mostra os links quando o menu está ativo */
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #6b4226;
    border-bottom: 2px solid transparent;
    transition: border-color 2s ease-in-out, width 0.6s ease-in-out;
  }
}

/* Estilização do título do artigo */
#artigo {
  text-align: center;
  margin: 0px 0;
  padding: 0px;
  border-radius: 0px;
}

#artigo h1 {
  font-size: 30px;
  color: #a05b37;
}

#artigo p {
  font-size: 18px;
  color: #0a0a0a;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.section {
  flex: 3;
  margin: 10px;
}

section {
  padding: 20px;
  border-radius: 8px;
  margin: 10px auto;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

/*Seção Grécia */
.grecia-antiga,
.deuses-deusas,
.bandeira,
.olimpiadas,
.cultura,
.grecia-moderna {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

.grecia-antiga h3,
.deuses-deusas h3,
.bandeira h3,
.olimpiadas h3,
.cultura h3,
.grecia-moderna h3 {
  font-size: 24px;
  color: #a05b37;
  margin-bottom: 15px;
}

.grecia-antiga img,
.deuses-deusas img,
.bandeira img,
.olimpiadas img,
.cultura img,
.grecia-moderna img {
  width: 90%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.grecia-antiga p,
.deuses-deusas p,
.bandeira p,
.olimpiadas p,
.cultura p,
.grecia-moderna p {
  font-size: 16px;
  color: #0a0a0a;
  text-align: justify;
  margin-bottom: 15px;
}

/* Botão Saiba Mais */
button {
  background-color: #2980b9;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1f6666;
}

/* Estilização do Pop-up */
.container-popup {
  display: none; /* Oculto por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 80%;
}

.popup h3 {
  color: #2c3e50;
}

.popup p {
  text-align: justify;
  font-size: 16px;
  color: #555;
}

.popup ul {
  text-align: left;
}

.popup ul li {
  margin: 5px 0;
}

#inactive {
  background: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}
/*estilo rodape*/

footer {
  background-color: #6b4226;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer a {
  color: #4caf50;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
