body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.banner {
    width: 100%;
    height: auto; 
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.banner img {
    width: 100%;
    height: auto; 
}

.navbar {
    background-color: #6B4226;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.navbar img {
    height: 40px;
    margin-right: 20px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
#conheca-nos h2 {
    color: #A34A28;
}

#formulario h2 {
    color: #A34A28;
}